
build/CoreUtilFramework.build/*
CoreUtilFramework.xcodeproj/project.xcworkspace/xcuserdata/*
CoreUtilFramework.xcodeproj/xcuserdata/akarayelli.xcuserdatad/xcschemes/CoreUtilFramework.xcscheme
CoreUtilFramework.xcodeproj/xcuserdata/aykutersahin.xcuserdatad/xcschemes/xcschememanagement.plist
CoreUtilFramework/.DS_Store
.DS_Store
