
build/CoreUtilFramework.build/*
CoreUtilFramework.xcodeproj/project.xcworkspace/xcuserdata/*
CoreUtilFramework.xcodeproj/xcuserdata/akarayelli.xcuserdatad/xcschemes/CoreUtilFramework.xcscheme
CoreUtilFramework.xcodeproj/xcuserdata/aykutersahin.xcuserdatad/xcschemes/xcschememanagement.plist
CoreUtilFramework/.DS_Store
.DS_Store
build/XCBuildData/8454b68bbe5c58970077cca1d6d40688-desc.xcbuild
build/XCBuildData/8454b68bbe5c58970077cca1d6d40688-manifest.xcbuild
build/XCBuildData/build.db
build/XCBuildData/BuildDescriptionCacheIndex-db0e903bedf9f3c35bd9dbeeb6c3c9cd
build/XCBuildData/9df0c59fd45f8b2f1712931b5de15c2f-manifest.xcbuild
build/XCBuildData/9df0c59fd45f8b2f1712931b5de15c2f-desc.xcbuild
build/XCBuildData/0bc42ee53dc9609bada3dfe1a312e33e-manifest.xcbuild
build/XCBuildData/0bc42ee53dc9609bada3dfe1a312e33e-desc.xcbuild
build/XCBuildData/2e4390b33ddbedb4b8438ee3f4a60452-desc.xcbuild
build/XCBuildData/2e4390b33ddbedb4b8438ee3f4a60452-manifest.xcbuild
CoreUtilFramework.d
build/XCBuildData/a94ffe3b9f7d61ebcad5eff3f7138595-desc.xcbuild
build/XCBuildData/a94ffe3b9f7d61ebcad5eff3f7138595-manifest.xcbuild
build/XCBuildData/build.db-journal
build/XCBuildData/7bbe4b1d2e0e39810d065df371947b3c-manifest.xcbuild
build/XCBuildData/7bbe4b1d2e0e39810d065df371947b3c-desc.xcbuild
build/XCBuildData/f994779fbea8912935c8c1bafc5464bf-desc.xcbuild
build/XCBuildData/f994779fbea8912935c8c1bafc5464bf-manifest.xcbuild
build/XCBuildData/*
build/XCBuildData/BuildDescriptionCacheIndex-141e8f7535791bae008ee5c1d1012bc3
build/XCBuildData/ceaae7c1a3590cc07f2ab9f3860d3fcb-manifest.xcbuild
