
build/CoreUtilFramework.build/*
CoreUtilFramework.xcodeproj/project.xcworkspace/xcuserdata/*
CoreUtilFramework.xcodeproj/xcuserdata/akarayelli.xcuserdatad/xcschemes/CoreUtilFramework.xcscheme
CoreUtilFramework.xcodeproj/xcuserdata/aykutersahin.xcuserdatad/xcschemes/xcschememanagement.plist
CoreUtilFramework/.DS_Store
.DS_Store
build/XCBuildData/8454b68bbe5c58970077cca1d6d40688-desc.xcbuild
build/XCBuildData/8454b68bbe5c58970077cca1d6d40688-manifest.xcbuild
build/XCBuildData/build.db
build/XCBuildData/BuildDescriptionCacheIndex-db0e903bedf9f3c35bd9dbeeb6c3c9cd
